body {
	font-family: OCR A Std, monospace;
    font-size: 25px;
	color: #FFFFFF;
	text-shadow: 2px 2px 3px #000000;
	background-repeat: no-repeat;
	background-size: cover ;
	background-image: url('corruptionback.png') ; 
	background-attachment:fixed;
	
}

.titre {
	display:block;
}

#presentation {
	border: 2px solid #FFFFFF;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover ;
	background-image: url('corruptionback.gif') ; 
}

.titretableau {
	font-size: 30px;
}

